<!doctype html>
<html>
	<head>
		<link rel="import" href="color-editor.html">
	</head>
	<body>
		<element name="animal-summary" constructor="AnimalSummaryViewModel" extends="div">
			<template>
				<div>{{header}}</div>
				<color-editor id="pallet" model="{{model.color}}"></color-editor>
				<canvas id="summary" width="300" height="200"></canvas>
			</template>
			<script type="application/dart">
			import 'dart:json' as json;
			import 'package:web_ui/web_ui.dart';
			import 'package:dart_web_ui_sample/src/AnimalSummary.dart';
			import 'package:dart_web_ui_sample/src/Color.dart';

			class AnimalSummaryViewModel extends WebComponent {

				AnimalSummaryViewModel() {
				}

				String get header => "${model.name}:${model.count}";

				void increment(e) {
					model.count++;
				}

				void created() {
				}

				void inserted() {
					_initializeCanvas(model.color);

					var p = query("#pallet");
					p.xtag.onColorChanged.listen((event) {
						// sync canvas color with the editor color
						String str = event.detail;
						var obj = json.parse(str);
						Color c = new Color(obj["r"], obj["g"], obj["b"]);
						_initializeCanvas(c);
					});
				}

				void _initializeCanvas(Color color) {
					var c = query("#summary");
					var ctx = c.getContext('2d');
					ctx.fillStyle = color.cssString;
					ctx.fillRect(0,0,300,200);
				}

				AnimalSummary model;
			}
			</script>
		</element>
	</body>
</html>
