<!doctype html>
<html>
	<body>
		<element name="color-editor" constructor="ColorViewModel" extends="div">
			<template>
				<ul>
					<li>R:<input type="range" bind-value="red" min="0" max="255" ><input type="text" readonly bind-value="red"></li>
					<li>G:<input type="range" bind-value="green" min="0" max="255" ><input type="text" readonly bind-value="green"></li>
					<li>B:<input type="range" bind-value="blue" min="0" max="255" ><input type="text" readonly bind-value="blue"></li>
				</ul>
			</template>
			<script type="application/dart">
			import 'dart:html';
			import 'dart:async';
			import 'dart:json' as json;
			import 'package:web_ui/web_ui.dart';
			import 'package:dart_web_ui_sample/src/Color.dart';

			class ColorViewModel extends WebComponent {
				ColorViewModel() {
				}

				static const EventStreamProvider<CustomEvent> colorChangedEvent = 
      				const EventStreamProvider<CustomEvent>('colorChanged');

				Stream<CustomEvent> get onColorChanged => colorChangedEvent.forTarget(this);

				String get red => "${model.red}";
				set red(String r) {
					int nr = int.parse(r);
					if (model.red == nr) {
						return;
					}
					model.red = nr;
					_notifyColorChange(model);
				}

				String get green => "${model.green}";
				set green(String g) {
					int ng = int.parse(g);
					if (model.green == ng) {
						return;
					}
					model.green = ng; 
					_notifyColorChange(model);
				}

				String get blue => "${model.blue}";
				set blue(String b) {
					int nb = int.parse(b);
					if (model.blue == nb) {
						return;
					}
					model.blue = nb;
					_notifyColorChange(model);
				}

				void created() {
				}

				void inserted() {
				}

				void _notifyColorChange(Color newColor) {
					var str = json.stringify(newColor);
					CustomEvent ev = new CustomEvent('colorChanged', canBubble: true, cancelable: true, detail: str);
					dispatchEvent(ev);
				}

				Color model;
			}
			</script>
		</element>
	</body>
</html>
